body {
  background: #f7f9fd;
  padding: 10%;
}

.hello {
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  margin: auto;
  background: #232937;
  color: #f9fbff;
  max-width: 300px;
  padding: 30px;
}

.helloApi {
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  margin: auto;
  color: #232937;
  padding: 15px;
}
